In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 讀取 CSV 文件並轉換為 DataFrame
df = pd.read_csv('adult.csv')

# 顯示前幾行數據
print(df.head())

# 計算薪資的平均值
mean_salary = np.mean(df['Income'])

# 計算薪資的標準差
std_salary = np.std(df['Income'])

# 計算薪資的中位數
median_salary = np.median(df['Income'])

# 打印結果
print('平均薪資:', mean_salary)
print('薪資標準差:', std_salary)
print('薪資中位數:', median_salary)

plt.bar(pd.read_csv.POSITION.unique(),
        pd.read_csv.POSITION.value_counts(), 
        width=0.5, 
        bottom=None, 
        align='center', 
        color=['lightsteelblue', 
               'cornflowerblue', 
               'royalblue', 
               'midnightblue', 
               'navy', 
               'darkblue', 
               'mediumblue'])
plt.xticks(rotation='vertical')
plt.show()

   Age          Workclass  Income   Education  Education-Num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        Marital Status          Occupation    Relationship    Race      Sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   Capital Gain  Capital Loss  Hours per Week  Native Country
0          2174             0              40   United-States
1             0             0              13   United-States
2             0             0              40   United-States
3             0             0              40   United-States
4             0             0              40            Cuba
平均薪資: 189778.36651208502
薪資標準差: 105548.3568808909
薪資中位數: 178356.0

AttributeError: 'function' object has no attribute 'POSITION'