In [2]:
import pandas as pd
data = pd.read_csv('CarsData.csv')
data.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

In [3]:
# 选取两个主要制造商进行分析
manufacturers = data['Manufacturer'].value_counts().index[:2]
manuf1, manuf2 = manufacturers

# 从数据中筛选出这两个制造商的车型
models_manuf1 = set(data[data['Manufacturer'] == manuf1]['model'])
models_manuf2 = set(data[data['Manufacturer'] == manuf2]['model'])

# 聯集

In [4]:
all_models = models_manuf1 | models_manuf2
print(f"所有車型（聯集）: {all_models}")

所有車型（聯集）: {' T-Roc', ' Tiguan Allspace', ' CC', ' Galaxy', ' Touareg', ' C-MAX', ' KA', ' Streetka', ' Golf', ' Passat', ' Polo', ' Shuttle', ' Caddy Life', ' Ranger', ' Scirocco', ' Kuga', ' Eos', ' Tourneo Custom', ' Tourneo Connect', ' Up', ' Mustang', ' Tiguan', ' Golf SV', ' Fox', ' Caddy Maxi', ' Edge', ' Ka+', ' Amarok', ' B-MAX', ' S-MAX', ' Grand Tourneo Connect', ' Puma', ' Mondeo', ' Transit Tourneo', ' Fiesta', ' Touran', ' Caravelle', ' Fusion', ' Jetta', ' Focus', ' California', ' T-Cross', ' Caddy Maxi Life', ' Beetle', ' Escort', ' Sharan', ' Grand C-MAX', ' EcoSport', ' Arteon', ' Caddy'}

# 差集

In [5]:
unique_models_manuf1 = models_manuf1 - models_manuf2
print(f"{manuf1} 独有车型: {unique_models_manuf1}")

ford 独有车型: {' Galaxy', ' C-MAX', ' Streetka', ' KA', ' Ranger', ' Kuga', ' Tourneo Custom', ' Tourneo Connect', ' Mustang', ' Edge', ' Ka+', ' B-MAX', ' S-MAX', ' Grand Tourneo Connect', ' Puma', ' Mondeo', ' Transit Tourneo', ' Fiesta', ' Fusion', ' Focus', ' Escort', ' Grand C-MAX', ' EcoSport'}

In [6]:
unique_models_manuf2 = models_manuf2 - models_manuf1
print(f"{manuf2} 独有车型: {unique_models_manuf2}")

volkswagen 独有车型: {' T-Roc', ' Tiguan Allspace', ' CC', ' Touareg', ' Golf', ' Passat', ' Polo', ' Shuttle', ' Caddy Life', ' Scirocco', ' Eos', ' Up', ' Tiguan', ' Golf SV', ' Fox', ' Caddy Maxi', ' Amarok', ' Caravelle', ' Touran', ' Jetta', ' California', ' T-Cross', ' Caddy Maxi Life', ' Beetle', ' Sharan', ' Arteon', ' Caddy'}

# 交集

In [7]:
common_models = models_manuf1 & models_manuf2
print(f"共有车型: {common_models}")

共有车型: set()

# 分析結果

從上述分析中，我們可以得出以下幾個結論：

品牌差異性：Ford 和 Volkswagen 每個品牌都有其獨特的車型組合，這顯示了他們的市場策略和目標受眾可能有所不同。消費者在選擇車輛時可以根據這些獨特的車型範圍來考量哪個品牌更符合他們的需求。

市場定位：缺乏共有車型可能意味著 Ford 和 Volkswagen 在市場上有著不同的定位，他們可能專注於不同的市場細分或消費者群體。

車型選擇豐富：這兩個品牌合計提供了豐富的車型選擇，這為不同需求和預算的消費者提供了廣泛的選擇。

In [8]:
# 计算差集、交集和联集
unique_models_manuf1 = models_manuf1 - models_manuf2
unique_models_manuf2 = models_manuf2 - models_manuf1
common_models = models_manuf1 & models_manuf2
all_models = models_manuf1 | models_manuf2

In [9]:
# 输出结果
print(f"{manuf1} 独有车型: {unique_models_manuf1}")
print(f"{manuf2} 独有车型: {unique_models_manuf2}")
print(f"共有车型: {common_models}")
print(f"所有车型（联集）: {all_models}")

ford 独有车型: {' Galaxy', ' C-MAX', ' Streetka', ' KA', ' Ranger', ' Kuga', ' Tourneo Custom', ' Tourneo Connect', ' Mustang', ' Edge', ' Ka+', ' B-MAX', ' S-MAX', ' Grand Tourneo Connect', ' Puma', ' Mondeo', ' Transit Tourneo', ' Fiesta', ' Fusion', ' Focus', ' Escort', ' Grand C-MAX', ' EcoSport'}
volkswagen 独有车型: {' T-Roc', ' Tiguan Allspace', ' CC', ' Touareg', ' Golf', ' Passat', ' Polo', ' Shuttle', ' Caddy Life', ' Scirocco', ' Eos', ' Up', ' Tiguan', ' Golf SV', ' Fox', ' Caddy Maxi', ' Amarok', ' Caravelle', ' Touran', ' Jetta', ' California', ' T-Cross', ' Caddy Maxi Life', ' Beetle', ' Sharan', ' Arteon', ' Caddy'}
共有车型: set()
所有车型（联集）: {' T-Roc', ' Tiguan Allspace', ' CC', ' Galaxy', ' Touareg', ' C-MAX', ' KA', ' Streetka', ' Golf', ' Passat', ' Polo', ' Shuttle', ' Caddy Life', ' Ranger', ' Scirocco', ' Kuga', ' Eos', ' Tourneo Custom', ' Tourneo Connect', ' Up', ' Mustang', ' Tiguan', ' Golf SV', ' Fox', ' Caddy Maxi', ' Edge', ' Ka+', ' Amarok', ' B-MAX', ' S-MAX', ' Grand Tourneo Connect', ' Puma', ' Mondeo', ' Transit Tourneo', ' Fiesta', ' Touran', ' Caravelle', ' Fusion', ' Jetta', ' Focus', ' California', ' T-Cross', ' Caddy Maxi Life', ' Beetle', ' Escort', ' Sharan', ' Grand C-MAX', ' EcoSport', ' Arteon', ' Caddy'}